*{
    background-image: url(../images/404.png);
    background-size: cover;
    margin: 0 auto;
    padding: 0;
}

body{
    height: 100vh;
}

ul{
    height: 91vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 9vh;
    
}

ul li{
    list-style-type: none;
    font-size: 20px; 
    font-family: sans-serif;
    font-weight: bold;
    color: #636e72;
    margin-left: 5px;
}

ul li a{
    text-decoration: none;
    background-image: none;
}

body, ul, li, p, a{
    background-image: none;
}