
.detalle-container {
    background-color: aqua;
    display: flex;
    margin-bottom: 2%;

}

.detalle-producto {
    background-color: rgb(255, 174, 0);
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: space-between;
}
.detalle-imagen {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    
}

.detalle-descripcion {
    align-items: center;
    background: #BDBDBD;
    border-radius: 10px;
    padding: 1%;
    

}
.botones{
    justify-content: space-between;
    margin: 1%;
    align-items: flex-end
}
.btn-primary {
    width: 200px;
}


.form-check-input{
    height: 50px;
}