footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 14px; 
    background-color: #FFE0B2;
    padding: 0;
}
.main-footer{
    padding-top: 3%;
}

.lista {
    text-align: center;
    text-decoration: none;
    list-style-type: none;

}

.contactlist_item{
    text-align: left;
    padding: 0;
}