@import "../CSS/master.css";

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    background-color:#BDBDBD;
}
.container {
    margin: 0 auto;
}
.carousel{
    height:40vh;
    background-color:green;
    width: 100%;
}

.banner {
    display: flex;
    height: 70px;
    border-radius:5px; 
    background-color:red;
    margin: 2% 1% 2% 1%;
}
.metodos{
    justify-content: space-around;
    align-self: center;
    width: 25%;
    text-align: center;
    padding: 10px;
}
i{
    padding: 2%;
}