@import "../CSS/master.css";

body{
    background-color:#BDBDBD;
    font-family: 'Lato',
    sans-serif;
    color: #212121;

}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel{
    height:40vh;
    width: 100%;
    
}
.lala{
    height: 40vh;
    background-position: center;
    background-size: cover;
}
.carousel-caption{
    color: #212121;
    font-weight: bold;
}
.banner {
    display: flex;
    height: 70px;
    border-radius:5px; 
    background-color:#FFE0B2;
    margin: 2% 1% 2% 1%;
}
.metodos{
    justify-content: space-around;
    align-self: center;
    width: 25%;
    text-align: center;
    padding: 10px;
}
i{
    padding: 2%;
}

.mails{
    display: flex;
    background-color: rgb(231, 140, 98);
    height: 30vh;
    margin: 0;
    padding: 2%;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;

}
.susc{
    justify-content: center;
    align-self: center;
}
.input-group {
    justify-content: center;
    align-self: center;
    margin: 1%;
    width: 40vw;
}

.promos{
    display: flex;
    margin: 5% 0 5% 0;
    /* background-color: blueviolet; */
    height: 50vh;
}
.promo-content{
    /* background-color: yellow; */
    padding: 2%;
}
.promo1{
    background-color: red;
    background-image: url(../images/catalogo/IMG_23.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2%;

}
.promo2 {
    background-color: rgb(27, 8, 199);
    background-image: url(../images/catalogo/IMG_24.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    padding: 2%;

}
.promo3 {
    height: 50%;
    background-color: rgb(27, 226, 21);
    background-image: url(../images/catalogo/IMG_25.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1%;
    padding: 2%;

}
