@import "../CSS/master.css";

nav{
    position: relative;
    
}

.Carrito{

    position: absolute;
    left: 87%;
}

.usuario{

    position: absolute;
    left: 83%;
   
    
}

button{
    margin:5px;
    position: relative;
    left: 40%;
    
}

.buscador{

    position: relative;
    left: 30%;
}

.form-inline{
    
}

.navbar-brand{
    position: relative;
    left: 10%;
}